<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/master.css" type="text/css">
		<link rel="stylesheet" href="/css/syntax.css" type="text/css">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="container">
			<h1><a href="/">Random bits of thought</a></h1>
			{{ content }}
		</div>
	</body>
</html>
